:root{
    --color_theme : rgb(67, 220, 166);
}
body{
    padding:0;
    margin:0;
    display:grid;
    gap:0;
    min-height:100vh;
    background:rgb(50, 50, 50);
  
}
body div{
    padding:0;
    margin:0;
}
#content{
   
   display:grid;
   grid-template-columns: repeat(19,1fr);
   grid-template-rows: repeat(16,1fr);
}
#header{
    background-color: rgb(81, 81, 81);
    grid-row: 1/2;
    grid-column: 1/20;
    max-height:48px;
    padding:0;
    margin:0;
}
#header-content{
    color:var(--color_theme);
    padding:0;
    margin:0;
    display:flex;
    align-items: center;
    padding-left:1vw;
    font-size:22px;
    font-weight: 700;
    max-height:40px;
    font-size: 'sans serif';
}
#icon{
    width:38px;
    height: 38px;
    margin-right: 10px;
}
#author{
    position:absolute;
    right:0;
    display:flex;
    align-items: center;
}
#git_icon{
    width:25px;
    height:25px;
    margin-right: 10px;
}
a{
    color:white;
    text-decoration: none;
}
#menu{
    background: linear-gradient(90deg,black,rgb(40, 40, 40),rgb(52, 51, 51),rgb(69, 68, 68));
    
    grid-row: 2/30;
    grid-column: 1/4;
}
#menu_content{
    display:flex;
    flex-direction: column;
}
#default_projects{
    display:flex;
    flex-direction: column;
    margin:3vw;
    
    
}
#default_projects button{
    background-color: rgb(41, 40, 40);
    text-align: left;
    font-size:18px;
    color:white;
    margin-bottom:15px;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0);
}
#menu_bottom{
    display:flex;
    flex-direction: column;
    margin:3vw;
}
#menu_bottom form{
    display:none;
    flex-direction: column;
}
#project_title{
    flex-grow: 1;
 
}
#submit_btn{
    background-color: rgb(1, 93, 1);
    color:white;
    font-weight:700;
}
#submit_btn:hover{
    background-color: green;
}
#cancel{
    background-color: rgb(93, 3, 3);
    color:white;
    font-weight:700;
}
#cancel:hover{
    background-color: rgb(164, 4, 4);
}
#projects_added{
    display:flex;
    flex-direction: column;
}
#projects_added button{
    background-color: rgb(41, 39, 39);
    text-align: left;
    font-size:16px;
    color:white;
    margin-top:15px;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0);
}
#Add_project{
    background:var(--color_theme);
    font-size:1rem;
    font-weight: 900;
    display:flex;
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.9);
}
#Add_project:hover{
    background-color: rgb(27, 243, 149);
}
#projects_added button:hover{
    background:black;
    
}
#projects_added button:active{
    
    box-shadow: none;
}
#default_projects button:hover{
    background:rgb(0, 0, 0);
}
#default_projects button:active{
    box-shadow: none;
}
#tasks{

    background: linear-gradient(90deg,rgb(0, 0, 0),rgb(43, 44, 44),rgb(64, 71, 70));
    grid-row: 2/30;
    grid-column: 4/20;
    display:flex;
    justify-content: center;
    padding:80px 40px 40px 40px;
   
}
#dummy_div_left{
    flex-grow: 1;
    align-items: center;
}

#project_panel{
    
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.5);
}
#Add_task{
    background-color:var(--color_theme);
    font-size:larger;
    font-weight: 500;
}
#Add_task:hover{
    background-color: rgb(27, 243, 149);
}
#project_Title{
    color:rgb(165, 187, 206);
    font-size:30px;
}
#project_tasks{
    
    display:flex;
    flex-direction: column;
    justify-content: left;
}

#task_form{
    display:none;
}
#task_form input{
    flex-grow: 1;
}
#project_panel{
    min-width:60vw;
   
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:10vw;
}

#project_heading{
   
    margin-bottom:70px;
    font-size:40px;
    font-weight:700;
    color:white;
}
#dummy_task_div{
    color:white;
    display:flex;
    justify-content: space-between;
    font-size:12px;
    margin-bottom: 3px;
    padding-top:3px;
    padding-bottom: 3px;
}
#dummy_task_div:hover{
    border:2px solid aqua;
    background-color:rgb(86, 85, 85);
}
#dummy_div_left{
    display:flex;
    font-size:larger;
    max-width: 50%;
    justify-content: space-between;
}
#task_icon{
    height:1vw;
    width:1vw;
    margin-right: 10px;
}
input{
    background: rgb(134, 188, 205);
}
#task_date{
    color:rgb(249, 176, 176);
    
}
