body{
    padding:0;
    margin:0;
    display:grid;
    gap:0;
    min-height:100vh;
    background:rgb(50, 50, 50);
    
}
body div{
    padding:0;
    margin:0;
}
#content{
   
   display:grid;
   grid-template-columns: repeat(19,1fr);
   grid-template-rows: repeat(16,1fr);
}
#header{
    background-color: rgb(81, 81, 81);
    grid-row: 1/2;
    grid-column: 1/20;
    max-height:48px;
    padding:0;
    margin:0;
}
#header-content{
    color:rgb(109, 255, 223);
    padding:0;
    margin:0;
    display:flex;
    align-items: center;
    padding-left:1vw;
    font-size:22px;
    font-weight: 700;
    max-height:40px;
    font-size: 'sans serif';
}
#icon{
    width:38px;
    height: 38px;
    margin-right: 10px;
}
#author{
    position:absolute;
    right:0;
    display:flex;
    align-items: center;
}
#git_icon{
    width:25px;
    height:25px;
    margin-right: 10px;
}
a{
    color:white;
    text-decoration: none;
}
#menu{
    border:2px solid rgb(0, 0, 0);
    grid-row: 2/30;
    grid-column: 1/4;
}
#tasks{
    border:2px solid rgb(0, 0, 0);
    grid-row: 2/30;
    grid-column: 4/20;
    display:grid;
    padding:80px 40px 40px 40px;
}
#project_heading{
    color:rgb(165, 187, 206);
    font-size:30px;
}
#inbox_tasks{
    border:2px solid white;
    display:flex;
    flex-direction: column;
    justify-content: left;
}
#inbox_panel{
    border:2px solid blue;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:10vw;
}
#inbox_heading{
    border:2px solid white;
    margin-bottom:70px;
}
#inbox_heading{
    font-size:40px;
    font-weight:700;
    color:white;
}
#dummy_task_div{
    color:white;
    display:flex;
    justify-content: space-between;
    font-size:20px;
    border:1px solid white;
}
#dummy_task_div:hover{
    border:2px solid aqua;
}